# Ignore everything
*
!*/

# Don't ignore these directories and their contents
!Data/**
!Unity/**

# Ignore .pkl files even in tracked directories
**/*.pkl

# Don't ignore .gitignore itself
!.gitignore