# ignore all
*
!*/

# don't ignore these
!Data/**
!Unity/**

# ignore .pkl in tracked dirs
**/*.pkl
**/*.tif

# don't ignore gitignore
!.gitignore
Unity/GEDI_Visualization/Assets/Terrain/Textures/Bolivia-Saltflats_TandemX_30m.tif
*.tif
Unity/GEDI_Visualization/Assets/StreamingAssets/mapia_full.csv
Unity/GEDI_Visualization/Assets/StreamingAssets/mapia_full.csv.meta
Unity/GEDI_Visualization/Assets/Data/mapia_full.csv
